@font-face {
    font-family: "IRANSansWebBold";
    src: url(./fonts/IRANSansWeb_Bold.eot);
    src: url(./fonts/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
        url(./fonts/IRANSansWeb_Bold.woff) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url(./fonts/IRANSansWeb_Bold.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url(./fonts/IRANSansWeb_Bold.ttf) format('truetype');
}

@font-face {
    font-family: "IRANSansWebMedium";
    src: url(./fonts/IRANSansWeb_Medium.eot);
    src: url(./fonts/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
        url(./fonts/IRANSansWeb_Medium.woff) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url(./fonts/IRANSansWeb_Medium.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url(./fonts/IRANSansWeb_Medium.ttf) format('truetype');
}

@font-face {
    font-family: "IRANSansWeb";
    src: url(./fonts/IRANSansWeb_Light.eot);
    src: url(./fonts/IRANSansWeb_Light.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
        url(./fonts/IRANSansWeb_Light.woff) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url(./fonts/IRANSansWeb_Light.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url(./fonts/IRANSansWeb_Light.ttf) format('truetype');
}